.header{
    background-color: #313642;
}

.aboutUs {
    background-color: #313642;
    display: flex;
    justify-content: space-between;
}

.welcomeText {
    margin: 35px;
    color: white;
}

.welcomeImg {
    margin: auto;
    margin-right: 40px;
    
}

.card {
    display: flex;
}
